.mailing {
    position: relative;
    box-sizing: border-box;
    background: url('../img/part-bg1.png');
    background-color: #f8e1db;
    background-repeat: no-repeat;
    width: 75%;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    margin-bottom: 180px;
    @media (max-width: 56.25em) {
        background-size: cover;
        flex-direction: column-reverse;
    }
}

.mailing-wrapper {
    flex: 0 1 50%;
    @media (max-width: 56.25em) {
        text-align: center;
    }
}

.mailing__sub-heading {
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}

.mailing__input-wrapper {
    background-color: $WHITE;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.mailing__input {
    flex: 1 1 50%;
    border: none;
    margin-left: 1rem;
    outline: none;
}

.mailing__btn {
    cursor: pointer;
    padding: 1.3rem;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px 40px $ORANGE;
    background-color: $ORANGE;
    transition: all 0.5s ease;
    &:hover {
        box-shadow: none;
    }
}

.mailing__img {
    flex: 0 1;
    width: 30%;
    @media (max-width: 56.25em) {
        flex: 1 1 50%;
        width: 100%;
        margin-bottom: 4rem;
    }
}