@mixin center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin reset-btn {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}