.hero-heading {
    font-size: 8.1rem;
    line-height: 10.9rem;
}

.section-heading {
    font-size: 4rem;
    line-height: 5.4rem;
}

.card-heading {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.card-details {
    font-size: 1.6rem;
    line-height: 1.8rem;
}